@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


/* info section */

.info::-webkit-scrollbar {
    height: 1px;
    visibility: none;
    background-color: rgb(114, 114, 116);
}

.info::-webkit-scrollbar-thumb {
    background-color: rgb(209, 218, 217);
    border-radius: 5px;
}

/* hero section */
.hero {
    background-image: url("./assets/hero/bg-block.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}